# Remove the 117mb file. Will add deply to script.
lib/libmpv/libmpv-2.dll 

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
ARM/
ARM64/

*.VC.db
*.VC.VC.opendb
*.VC.opendb

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
Testing/

cmake-build-*/
build/
out/

.vscode/

Thumbs.db
Desktop.ini

*.dmp

*.log

*.tmp
*.temp

*.exe
*.dll
*.lib
*.exp
*.pdb
*.ilk

*.obj
*.o

*.a

*.idb
*.ipdb
*.iobj
*.pch
*.res
*.tlog

*.pgc
*.pgd
*.psess
*.vsp
*.vspx

TestResults/
coverage/

packages/
*.nupkg

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

*.dSYM/
.cache/

!libuv.lib
!uv.lib
!uv.dll 

